input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
  line-height: 1;
  align-items: center;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

thead{
  border-radius: 10px 10px 0 0;
}

th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #e2e2e2;
    color: black;
}

.week-day, .request-day, .lunes, .martes, .miercoles,
.jueves, .viernes, .sabado, .domingo, .turno-preferido, 
.prioridad, .request-days{
  width: 60px;
}

.rut{
  width: 130px;
}

.name, .lastname{
  width: 150px;
}
.form-input{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #848484;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  
}

.table-title{
  padding: 8px;
  text-align: left;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ddd;
  background-color: #e2e2e2;
  color: black;
  font-weight: bold;
}

.table-background{
  /*background-color: #dbd8da;*/
  padding-left: 0px;
  padding-right: 0px;
}

.pull-right {
  float: right !important;
}


.form-control-prioridad {
  display: block;
  width: 55%;
  padding: 3px 30px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}; 